# Ignore build files
sofa/build/v22.12/*

# Ignore cloned plugins
sofa/ext_plugin_repo/BeamAdapter
sofa/ext_plugin_repo/Cosserat
sofa/ext_plugin_repo/ModelOrderReduction
sofa/ext_plugin_repo/SofaMAMMOBOT
sofa/ext_plugin_repo/SoftRobots
sofa/ext_plugin_repo/SPLIB
sofa/ext_plugin_repo/STLIB
sofa/ext_plugin_repo/SofaPython3
sofa/SofaGym

# Ignore cloned src
sofa/src

# Ignore cloned utils
sofa/utils/2022-RAL-SOFA-soft-growing-robots

# Ignore trash from onedrive
sofa/trash

# Ignore big files
script/tests/mesh\ sofa/*
script/data/mesh/*
script/external\ examples/mesh sofa/

# Ignore cache
script/__pycache__/