*__pycache__

perception/magnetic_tracking/videos*

slam/ORB_SLAM3/em/run/datasets
slam/ORB_SLAM3/build
slam/ORB_SLAM3/Thirdparty/DBoW2/build
slam/ORB_SLAM3/Thirdparty/g2o/build
slam/ORB_SLAM3/Thirdparty/Sophus/build
slam/ORB_SLAM3/Vocabulary/ORBvoc.txt
slam/live-vlam/*.mp4

perception/vision/data/
perception/vision/data_collection/
perception/vision/object_detection_YOLOv3/
perception/vision/runs/
perception/vision/yolov10l.pt
perception/vision/yolov10n.pt
perception/vision/yolov10x.pt
perception/vision/yolov3u.pt
perception/vision/yolov8n.pt
perception/vision/object_detection/data_collection/data/labelImg
perception/vision/object_detection/data/formatted_bronchoscopy.zip 
perception/vision/object_detection/object_detection_YOLOv3/PASCAL_VOC
perception/vision/object_detection/object_detection_YOLOv3/checkpoints.pth.tar
perception/vision/object_detection/object_detection_YOLOv3/ignore
perception/vision/object_detection/yolo*.pt
perception/vision/object_detection/runs
