# Ignore build files
C:/Users/manun/Desktop/github/test/sofa/build/v22.12/*

# Ignore cloned plugins
C:\Users\manun\Desktop\github\sofa\ext_plugin_repo\BeamAdapter
C:\Users\manun\Desktop\github\sofa\ext_plugin_repo\Cosserat
C:\Users\manun\Desktop\github\sofa\ext_plugin_repo\ModelOrderReduction
C:\Users\manun\Desktop\github\sofa\ext_plugin_repo\SofaMAMMOBOT
C:\Users\manun\Desktop\github\sofa\ext_plugin_repo\SoftRobots
C:\Users\manun\Desktop\github\sofa\ext_plugin_repo\SPLIB
C:\Users\manun\Desktop\github\sofa\ext_plugin_repo\STLIB
C:\Users\manun\Desktop\github\sofa\SofaGym

# Ignore cloned src
C:\Users\manun\Desktop\github\sofa\src

# Ignore cloned utils
"C:\Users\manun\Desktop\github\sofa\utils\2022-RAL-SOFA-soft-growing-robots"