# MATLAB files
real/MATLAB/send_pressure_udp_quarc_win64/*
real/MATLAB/slprj/*
real/MATLAB/send_pressure_udp.rt*
real/MATLAB/send_pressure_udp.slx.autosave
real/MATLAB/initialPressure*
real/Pressure.mat

# Python files
*__pycache__*

# Data
real/data/exp_*/cam*
generic-neural-mpc/data/*.pth

# sim
sim/frames*
sim/*.mp4
sim/results*
*.env*
